.game-board-container {
    /* display: flex;
    flex-direction: column; */
    position: relative;
    /* border: 1px solid black; */
    /* width: fit-content;
    height: fit-content; */
}

/* .game-board-row {
    display: flex;
    flex-direction: row;
    border: 1px solid blue;
} */

.game-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid red;
}