.clue-char-container {
  background-color: tan;
  position: relative;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard syntax */

  box-shadow: 0.1vh 0.1vh 0.3vh white inset, -0.01vh 0.01vh 0.5vh;
  font-family: "Lato", sans-serif;
  text-shadow: 0px 0.25px white;
  filter: brightness(130%);
  height: 1.8vh;
  width: 1.8vh;
  /* border: 1px solid salmon; */
  border-radius: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vh;
  margin: 0.3vh;
}

.inner-clue-char {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .found-clue-char {
  filter: brightness(1) saturate(8.5) sepia(0.5) hue-rotate(90deg) contrast(0.9);
  box-shadow: 0.1vh 0.1vh 0.3vh white inset, white -0.01vh 0.01vh 0.5vh;
} */

.found-inner-clue-char {
  background-color: rgba(0, 230, 65, 0.45);
}

.clue-container {
  height: 55vh;
  width: min-content;
  display: flex;
  flex-grow: 0.5;
  border: 1px solid blue;
  align-items: center;
  justify-content: center;
}

.inner-clue-container {
  height: 97%;
  width: -webkit-fill-available;
  margin: 4px;
  display: flex;
  border: 1px solid blue;
  flex-wrap: wrap;
  overflow: scroll;
  align-content: flex-start;
}

.clue-word-container {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  border: 1px solid darkcyan;
  width: fit-content;
  height: fit-content;
  margin: 3px;
  border-radius: 6px;
}
