/* 
hsla(60, 100%, 75%, 0.6)
hsla(137, 100%, 45%, 0.45) 
hsla(5, 90%, 51%, 0.6)
*/
body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border: 1px solid red;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.content {
  width: 100%;
  border: 1px solid blue;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6vh;
  width: 40vw;
  border: 1px solid black;
}

.outer-game-container {
  border: 1px solid green;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 66vh;
  width: 100%;
}

.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55vh;
  width: 55vh;
  border: 1px solid black;
}

.inner-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 97%;
  width: 97%;
  border: 1px solid black;
}

svg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.game-row {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.game-tile {
  background-image: url(../images/tile-image.jpeg);
  filter: brightness(130%);
  position: relative;
  cursor: pointer;
  height: 80%;
  width: 20%; /* this should always be a fourth of the height */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid brown;
  font-size: 3.2vh;
}

.dead-game-tile {
  filter: brightness(70%);
}

.inner-game-tile {
  position: absolute;
  height: 100%;
  width: 100%;
}

.clue-container {
  height: 55vh;
  width: min-content;
  padding: 4px;
  display: flex;
  flex-grow: 0.5;
  border: 1px solid blue;
  align-items: center;
  justify-content: center;
}

.inner-clue-container {
  height: 100%;
  width: 100%;
  display: flex;
  border: 1px solid blue;
  flex-wrap: wrap;
  overflow: scroll;
  align-content: flex-start;
}

.clue-word-container {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  border: 1px solid darkcyan;
  width: fit-content;
  height: fit-content;
  margin: 3px;
}

.clue-char-container {
  border: 1px solid salmon;
  height: 1.8vh;
  width: 1.8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vh;
}

.control-panel {
  width: 95%;
  height: 15vh;
  border: 1px solid magenta;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.points-timer-container {
  width: 40%;
  height: 85%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.definitions-container {
  border: 1px solid purple;
  height: 85%;
  width: 40%;
  overflow: scroll;
}

.points-counter,
.timer {
  height: 40%;
  width: 80%;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  /* align-items: center; */
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
  z-index: 2;
  padding-top: 2vh;
}

.bg-active {
  visibility: visible;
  opacity: 1;
}

.modal {
  font-family: "Nunito Sans", sans-serif;
  background-color: #e2e2e2;
  /* border-radius: 15px; */
  position: relative;
  height: 95%;
  width: 95%;
  z-index: 2;
  overflow: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-inner {
  height: 91%;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: url("../images/tile-image.jpeg"); */
  background-color: #0077b6;
  filter: brightness(110%);
  border-radius: inherit;
  padding: 15px;
  /* box-shadow: 1px 1px 10px white inset; */
}

.modal-title {
  width: fit-content;
}

.modal-child {
  width: -webkit-fill-available;
  background-color: #0077b6;
  box-shadow: 3px 3px 10px black;
  color: white;
  font-weight: 300;
  padding: 30px;
}

@media (max-width: 344px) {
  body {
    height: 100%;
  }
  .title-container {
    height: 4vh;
  }
  .outer-game-container {
    flex-direction: column-reverse;
  }
  .game-container {
    height: 35vh;
    width: 35vh;
  }
  .clue-container {
    height: 16vh;
    width: 85vw;
  }

  .modal {
    height: 83%;
  }
}

@media (min-width: 345px) and (max-width: 480px) {
  body {
    height: 100%;
  }
  body {
    background-color: #f7f7f5;
  }
  .title-container {
    height: 4vh;
  }
  .outer-game-container {
    flex-direction: column-reverse;
  }
  .game-container {
    height: 41vh;
    width: 41vh;
  }
  .clue-container {
    height: 16vh;
    width: 85vw;
  }

  .modal {
    height: 83%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  body {
    height: 100%;
  }
  body {
    background-color: #e2e2e2;
  }
  .title-container {
    height: 4vh;
  }
  .outer-game-container {
    flex-direction: column-reverse;
  }
  .game-container {
    height: 45vh;
    width: 45vh;
  }
  .clue-container {
    height: 17vh;
    width: 85vw;
  }

  .modal {
    height: 83%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  body {
    background-color: #999;
  }
  .game-container {
    height: 50vh;
    width: 50vh;
  }
  .clue-container {
    height: 50vh;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  body {
    background-color: #6f6f6f;
  }
  .game-container {
    height: 50vh;
    width: 50vh;
  }
  .clue-container {
    height: 50vh;
  }
}

@media (min-width: 1201px) {
  body {
    background-color: #2d333f;
  }
}
