@media (max-width: 344px) {
  body {
    height: 100%;
  }
  .title-container {
    height: 4vh;
  }
  .outer-game-container {
    flex-direction: column-reverse;
  }
  .game-container {
    height: 35vh;
    width: 35vh;
  }
  .clue-container {
    height: 16vh;
    width: 85vw;
  }

  .inner-clue-container {
    height: 93%;
  }

  .modal {
    height: 83%;
  }
  .modal-inner {
    margin: 10px;
  }

  .end-game-tile {
    border-radius: 6px;
    font-size: 3vh;
  }
}

@media (min-width: 345px) and (max-width: 480px) {
  body {
    height: 100%;
  }
  body {
    background-color: #f7f7f5;
  }
  .title-container {
    height: 4vh;
  }
  .outer-game-container {
    flex-direction: column-reverse;
  }
  .game-container {
    height: 41vh;
    width: 41vh;
  }
  .clue-container {
    height: 16vh;
    width: 85vw;
  }

  .inner-clue-container {
    height: 93%;
  }

  .modal {
    height: 83%;
  }
  .modal-inner {
    margin: 10px;
  }

  .end-game-tile {
    border-radius: 6px;
    font-size: 3vh;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  body {
    height: 100%;
  }
  body {
    background-color: #e2e2e2;
  }
  .title-container {
    height: 4vh;
  }
  .outer-game-container {
    flex-direction: column-reverse;
  }
  .game-container {
    height: 45vh;
    width: 45vh;
  }
  .clue-container {
    height: 17vh;
    width: 85vw;
  }

  .inner-clue-container {
    height: 93%;
  }

  .modal {
    height: 83%;
  }
  .modal-inner {
    margin: 10px;
  }

  .end-game-tile {
    border-radius: 6px;
    font-size: 3vh;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  body {
    background-color: #999;
  }
  .game-container {
    height: 50vh;
    width: 50vh;
  }
  .clue-container {
    height: 50vh;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  body {
    background-color: #6f6f6f;
  }
  .game-container {
    height: 50vh;
    width: 50vh;
  }
  .clue-container {
    height: 50vh;
  }
}

@media (min-width: 1201px) {
  body {
    background-color: #2d333f;
  }
}
